body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.mainContainer {
display: flex;
}
.mainContent {
  padding: 40px 0px;
  width: 100%;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.titleContainer {
  height: 45px;
  border-radius: 4px;
  background-color: #abc9f571;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
  margin-bottom: 18px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  color: #474947;
}

.formNumber {
  color: red;
  font-weight: bolder;
  font-size: 16px;
}

.index{
  font-weight: bold;
}

.icon{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: flex;
  justify-content: right;
}

.form {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.table {
  width: 75vw;
  box-shadow:inset -7px 0 9px -7px rgba(117, 114, 114, 0.4);
  overflow-x: scroll;
  margin-bottom: 100px;
  margin-top: 64px;
  height: fit-content;
  position: relative;
}
.tableSection {
  margin-top: 24px;
  width: 100%;
}
.tableSectionCheck {
  width: 75vw;
  overflow-x: scroll;
}
.input {
  width: 130px ;
}

.tableRow {
  display: flex;
  column-gap: 0px;
  margin-bottom: 5vh;
  align-items: center;
}

.tableRowCheck, .tableRowCheckTitle {
  display: flex;
  column-gap: 0px;
  align-items: center;
  height: 65px;
}
.tableRowCheckTitle {
  height: 30px;
  width: 1302px;
}
.dayTitle {
  font-weight: bold;
  display: block;
  width: 42px !important;
  font-size: 16px;
  text-align: center;
  border: 1px solid grey;
  transform: translateY(-3px);
  line-height: 35px;
}

.contMonthTable {
  display: flex;
  border: 1px solid grey;
  border-radius: 4px;
}
.optionList{
  width: 15%;
}
.optionTable, .optionTableTitle{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  font-weight: bold;
  text-align: center;
  border: 0.5px solid grey;
}
.optionTableTitle{
  height: 30px;
  background-color: rgb(216, 213, 213);
}

.cont-btn {
  display: flex;
  justify-content: end;
}