
.personal, .personalText, .tableRow{
    display: flex;
    column-gap: 16px;
    margin-bottom: 5vh;
    }
    
    .titleContainer {
        width: 100%;
        height: 45px;
        border-radius: 4px;
        background-color: #abc9f571;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 20px;
        margin-bottom: 48px;
    }
    
    .title {
        font-size: 18px;
        font-weight: bold;
        color: #474947;
    }
    
    .formNumber {
        color: red;
        font-weight: bolder;
        font-size: 16px;
    }
    
    .personalText {
        width: 61vw;
        min-width: 300px;
    }
    
    .index{
        font-weight: bold;
    }
    
    .icon{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .btn{
        display: flex;
        justify-content: right;
    }
    
    .form {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .tableSection {
        margin-top: 24px;
        margin-bottom: 100px;
    }
    
    .tableRow {
        align-items: center;
    }